<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi proyecto</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" height=70 alt="Img ML">
        <div>Lugar para poner barra de busqueda</div>
        <p>Compra en cuotas y con tarjeta de credito</p>
        <nav>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="">Crea tu cuenta</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" height=65 alt="banner">
        
            
                <h3>Seccion: basado en tu ultima visita</h3>
                <img src="/images/img-cafetera-moulinex.jpg" height=120 alt="cafetera">
                <div>$6.770</div>
                <div>40% OFF</div>
                <div>Cafetera Moulinex</div>

                <img src="/images/img-macbook-pro-2019.jpg" height=120 alt="cafetera">
                <div>$230.000</div>
                <div>20% OFF</div>
                <div>MacBook pro 2019</div>

                <img src="/images/img-samsung-galaxy-s10.jpg" height=120 alt="cafetera">
                <div>$70.500</div>
                <div>10% OFF</div>
                <div>Samsung galaxy s10</div>

                <img src="/images/img-tv-samsung-smart.jpg" height=120 alt="cafetera">
                <div>$23.200</div>
                <div>5% OFF</div>
                <div>Smart Tv Samguns 43"</div>
            
                <h3>Seccion de ofertas</h3>
                <img src="/images/img-cafetera-moulinex.jpg" height=120 alt="cafetera">
                <div>$6.770</div>
                <div>40% OFF</div>
                <div>Cafetera Moulinex</div>

                <img src="/images/img-macbook-pro-2019.jpg" height=120 alt="cafetera">
                <div>$230.000</div>
                <div>20% OFF</div>
                <div>MacBook pro 2019</div>

                <img src="/images/img-samsung-galaxy-s10.jpg" height=120 alt="cafetera">
                <div>$70.500</div>
                <div>10% OFF</div>
                <div>Samsung galaxy s10</div>

                <img src="/images/img-tv-samsung-smart.jpg" height=120 alt="cafetera">
                <div>$23.200</div>
                <div>5% OFF</div>
                <div>Smart Tv Samguns 43"</div>

    </main>
    <br>
    <footer>
<span><b>Paga con tarjeta o en efectivo</b></span>
<p>Con mercado liebre cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
<span><b>Envio gratis desde $2500</b></span>
<p>Solo por estas registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
<span><b>Seguridad de principio a fin</b></span>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>
<span><b>Copyright © 1999-2020 MercadoLiebre SRL</b></span>
    </footer>
    
</body>
</html>